.btn {
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background: none;
  appearance: none;
  border: 1px solid transparent;
  color: inherit;
  padding: 0 12px;
  height: 28px;
  display: flex;
  align-items: center;
}

.btn:disabled {
  cursor: default;
  opacity: 0.6;
}

.btn__primary {
  background: var(--color-primary);
}
