.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-overlay);
}

.content {
  min-height: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
