.wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.name {
	font-weight: bold;
	font-size: 1.05rem;
	min-width: 0;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
