.wrapper {
	display: flex;
	padding: 4px;
	border-radius: var(--border-radius);
	background-color: var(--color-overlay);
}

.center {
	flex-grow: 1;
	padding-left: 10px;
}

.cover {
	border-radius: var(--border-radius);
	overflow: hidden;
	--size: 42px;
	height: var(--size);
	width: var(--size);
}

.name {
	font-size: 1rem;
	font-weight: 600;
}

.artists {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.artist {
	color: var(--color-text);
	font-size: 0.9rem;
	cursor: pointer;
}
